:root {
  --color-primary: #1b4965;
  --font-size-h2: 1.6em;

  @media (prefers-color-scheme: dark) {
    --color-primary: #e4b69a;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;

  & > div {
    max-width: 2000px;
  }
}

header {
  justify-content: space-between;

  h1 {
    small {
      color: var(--color-primary);
      display: block;
      font-family: "Marck Script", sans-serif;
      margin-top: 0.2em;
    }

    a {
      border: 0;
      font-weight: 700;
    }
  }
}

nav {
  border-bottom: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
  font-size: 0.9em;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-top: 1em;
}

main {
  & > *:not(.showcase) {
    @media (width >= 48rem) {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  & > h2 {
    color: var(--color-primary);
    font-family: "Marck Script", cursive;
    font-size: var(--font-size-h2);
    font-style: normal;
    font-weight: 400;
    margin: 1em auto 0.5em;
  }

  p {
    line-height: 2;
    margin-bottom: 0.5em;
  }

  ul {
    margin: 0 1em 0.5em;

    li {
      line-height: 2;
      list-style-position: inside;
      list-style-type: disc;
    }
  }

  strong {
    color: var(--color-primary);
    font-family: "Marck Script", cursive;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding: 2px;
  }

  .picture-me {
    background-size: cover;
    clip-path: url(#clip-shape);
    float: right;
    margin: 0.5em 0 0.2em 0.2em;
    width: 150px;

    @media (width >= 48rem) {
      width: 200px;
      margin: 0 0 0.5em 0.5em;
    }
  }
}

footer {
  border-top: 2px solid var(--color-primary);
  font-size: 0.9em;
  margin-top: 2em;
  padding: 1em;
  text-align: center;

  span {
    display: inline-block;
  }
}

a {
  color: var(--color-primary);
  position: relative;

  &::after {
    background-color: var(--color-primary);
    bottom: -2px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    width: 0;
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    width: 100%;
  }
}

.inline-svg-icon {
  display: inline-block;
  fill: var(--color-primary);
  height: 16px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.showcase {
  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}
