    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
                <br/>
                <img alt="Profil" src="assets/img/profil.png" class="medaillon" />
                <br/>
                <p>I'm currently a post-doctorant researcher in bioinformatics. 
                  I'm working on gut microbiota. I did my PhD on reductive 
                  genome evolution with <i>in silico</i> experimental
                  evolution and comparative genomics.</p>
                <br/>
                <p>
                  Loving sports, I spend time swimming, runnning, skiing and above all
                  biking. I love also doing photography, travelling, cooking, 
                  eating ...
                </p>
                 <br/>
                <p>
                  I love the DIY and makers movements. Following these movements
                  and my ecological soul, I'm trying to creating new objects from
                  used ones (papers, cardoard, records, ...).
                </p> 
                <br/>
                <p>
                  I'm interested by many subjects from scientific communication to 
                  programming, but also in feminism and alternative ways of life.
                  I'm trying to pass down my knowledge and my passions in lectures
                  I give but also in everyday life to my collegues, my friends, 
                  my family. But most of all I'm long-life learner, keen to learn...
                </p>
                <br/>
              </div>
        </div>
    </section>
