<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About</h2>
            <br/>
            <img alt="Profil" src="assets/img/profil.png" class="medaillon" />
            <br/>
            <p>I am a bioinformatician and computational biologist. I am currently a post-doc in the Freiburg Galaxy Team (Backofen lab, Bioinformatics group), working on several topics (metagenomics, NGS data analyses, evolution) and giving training, mainly on Galaxy use and development.</p>
            <br/>
            <p>Previously, I worked on gut microbiota and developed a bioinformatic environment to help analyses of intestinal microbiota sequences. Before, I did my PhD on reductive genome evolution with <i>in silico</i> experimental
            evolution and comparative genomics.</p>
            <br/>
            <p>
            Generally speaking, I'm interested by many subjects from scientific communication to programming, but also in feminism and alternative ways of life. I'm trying to pass down my knowledge and my passions in lectures and trainings I give but also in everyday life to my co-workers, my friends, my family. And I'm long-life learner, keen to learn...
            </p>
            <br/>
            <p>Loving sports, I spend time swimming, running, skiing and above all biking. I love also doing photography, travelling, cooking, eating ... I like the DIY and makers movements and I'm trying to creating new objects from used ones (papers, cardboard, records, ...).
            </p>
            <br/>
          </div>
    </div>
</section>


 